
.primary-corporate {

    ul {
        padding-left: 30px;
    }

    li {
        list-style: square;
        padding: 5px;
    }

    h3 {
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }

    .price-guide {
        margin-top: 48px;
    }

}

