

.primary-ordering {
    padding-bottom: 48px;
    @media #{$brk-desktop} {
        display: flex;
        flex-wrap: wrap;
    }
}

.material {
    margin-bottom: 72px;

    @media #{$brk-tablet} {
        display: flex;
        margin-bottom: 24px;
    }
    
    @media #{$brk-desktop} {
        flex-basis: 50%;
        margin-bottom: 72px;
    }

    div {

        &:first-child {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 24px;

            @media #{$brk-tablet} {
                flex-direction: column;    
            }
        }

        &:last-child {
            @media #{$brk-tablet} {
                margin-left: 25px;
            }
        }
    }

    img {
        width: 200px;

        @media #{$brk-desktop} {
            width: 250px;
        }
    }

    &:nth-child(odd) div:last-child {
        @media #{$brk-desktop} {
            padding-right: 20px;
        }
    }

    &:nth-child(even) div:first-child {
        @media #{$brk-desktop} {
            padding-left: 20px;
        }
    }

}

hr {
    margin-top: 16px;
}

.primary-ordering .price-guide {
    margin-top: 72px;
    @media #{$brk-desktop} {
        flex-basis: 100%;
        margin-top: 24px;
    }
}

.secondary-ordering {

    h3 {
        margin-top: 48px; 
        
        &:first-child,
        &:nth-child(3) {
            margin-top: 0px;
        }   
    }

    ul {
        padding-left: 30px;
    }

    li {
        padding: 5px;
        list-style: square;
        line-height: 1.5;
    }

    span {
        color: $color2;
        font-weight: bold;
    }

    i {
        color: $color1;
        margin: 24px 0;
        display: inline-block;
        padding: 0 24px;

        @media #{$brk-desktop} {
            padding: 0 70px;
        }
    }

}

