.banner {
    padding: 120px 0;
    text-align: center;
    background: #{$banner-bg}url('#{$banner-bg-mobile}1-mobile.jpg') #{$banner-bg-sp};
    color: #fff;
    text-shadow: 0 0 2px #000;

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}1.jpg') #{$banner-bg-sp};
    }

    @media #{$brk-desktop} {
        padding: 170px 0;
        font-size: 1.4em;
    }

    position: relative;
    overflow: hidden;
}

.background-none {
    background: none;
    background-color: $color1;
    height: 310px;
    @media #{$brk-desktop} {
        height: 435px;
    }
}

.banner-background {
    background-color: rgba(10,10,10, .3);
    padding: 3px 0;
}

.banner-background-absolute {
    padding: 0;
}

.banner-background-absolute h2,
.banner-background-absolute p {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;
    top: 80px;
    @media #{$brk-desktop} {
        top: 120px;
    }
}

.banner-background-absolute p {
    top: 125px;

    @media #{$brk-desktop} {
        top: 170px;
    }
}

.banner h2 {
    text-transform: uppercase;
}

.banner p {
    font-size: 1.5em;
}

/********** backgrounds *******/

#banner-about {
    background: #{$banner-bg}url('#{$banner-bg-mobile}6-mobile.jpg') #{$banner-bg-sp};

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}6.jpg') #{$banner-bg-sp};
    }
}

#banner-ordering {
    background: #{$banner-bg}url('#{$banner-bg-mobile}8-mobile.jpg') #{$banner-bg-sp};

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}8.jpg') #{$banner-bg-sp};
    }
}

#banner-services {
    background: #{$banner-bg}url('#{$banner-bg-mobile}7-mobile.jpg') #{$banner-bg-sp};

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}7.jpg') #{$banner-bg-sp};
    }
}

#banner-corporate {
    background: #{$banner-bg}url('#{$banner-bg-mobile}4-mobile.jpg') #{$banner-bg-sp};

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}4.jpg') #{$banner-bg-sp};
    }
}


    