.banner {
    padding: 120px 0;
    text-align: center;
    background: #{$banner-bg}url('#{$banner-bg-mobile}1-mobile.jpg') #{$banner-bg-sp};
    color: #fff;
    text-shadow: 0 0 2px #000;

    @media #{$brk-tablet} {
        background: #{$banner-bg}url('#{$banner-bg-desktop}1.jpg') #{$banner-bg-sp};
    }

    @media #{$brk-desktop} {
        padding: 170px 0;
        font-size: 1.4em;
    }

    position: relative;
    overflow: hidden;

    h2 {
        text-transform: uppercase;
    }

    p {
        font-size: 1.5em;
    }
}

.background-none {
    background: none;
    background-color: $color1;
    height: 310px;
    @media #{$brk-desktop} {
        height: 435px;
    }
}

.banner-background {
    background-color: rgba(10,10,10, .3);
    padding: 3px 0;
}

.banner-background-absolute {
    padding: 0;

    h2,
    p {
        position: absolute;
        z-index: 500;
        height: 100%;
        width: 100%;
        top: 80px;
        @media #{$brk-desktop} {
            top: 120px;
        }
    }

    p {
        top: 125px;

        @media #{$brk-desktop} {
            top: 170px;
        }
    }
}

/********** backgrounds *******/

#banner-about {
    @include background-images(6);
}

#banner-ordering {
    @include background-images(8);
}

#banner-services {
    @include background-images(7);
}

#banner-corporate {
    @include background-images(4);
}


    