footer {
    background-color: $color1;
    color: #fff;
    padding: 24px 1em;
    text-align: center;
    font-size: 0.8em;
    border-top: 5px solid #444;
    
    a {
        text-decoration: underline;
        &:hover {
            color: $color2;
        }
    }
}

.footer-container {
    @media #{$brk-tablet} {
        width: 80%;
        max-width: 1100px;
        display: flex;
        margin: 0 auto; 
        justify-content: space-between;
    }

    @media #{$brk-desktop} {
        width: 70%;
    }

    div {

        &:first-child {
            @media #{$brk-tablet} {
                text-align: left;
            }
        }

        &:last-child {
            margin-top: 48px;

            @media #{$brk-tablet} {
                margin-top: 0;
                text-align: right;
            }
        }
    }
}



