header {
    text-align: center;
    padding: 6px 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    background-color: #fff;
    border-bottom: 5px solid $color1;

    @media #{$brk-desktop} {
        padding: 24px 0;
    }
}

#header-nav {

    @media #{$brk-desktop} {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;
    }

    li {
        padding-left: 30px;
    }

    a {
        color: $color1;
        font-size: 1.1em;

        &:hover {
            color: $color2;
        }
    }

    #link-active {
        color: $color2;
        border-bottom: 2px solid $color2;
        padding-bottom: 6px; 
    }
}



.logo {
    width: 90px;

    @media #{$brk-desktop} {
        width: 130px;
        height: 78px;
    }
}

.container:first-child + .logo {
    @media #{$brk-desktop} {
        display: none;
    }
}

