

.button-sliders {
    text-align: center;
    margin-top: 24px;
}

.button-sliders label {
    min-height: 17px;
    width: 17px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid $color1;
    margin: 0 10px;
}

.input-checked {
    background-color: $color1!important;
}

input[type="radio"] {
    display: none;
}

.background-sliders {
    height: 100%;
    width: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 100;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 1.1s, opacity .5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-1 {
    background-image: #{$banner-bg} url('../img/image1.jpg');
}

.slide-2 {
    background-image: #{$banner-bg} url('../img/image4.jpg');
}

.slide-3 {
    background-image: #{$banner-bg} url('../img/image6.jpg');
}

.slide-4 {
    background-image: #{$banner-bg} url('../img/image7.jpg');
}

.slide-5 {
    background-image: #{$banner-bg} url('../img/image8.jpg');
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 200;
    transition: left 1s ease-out, opacity 1s ease-out;
    opacity: 1;
}